* {
  margin: 0;
  padding: 0;
  }
  
  [left="check-margin"] {
  left: 85px !important;
  }

.submenu-profile{
  margin-bottom: 200px;
}

.submemnu-list {
  margin-top: 50%;
}
.submenu {
  width: 100%;
  height: 20px;
  text-align: left;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: white;
  color: blue;
  padding: 10px;
}

.small-tab {
  margin-left: 10%;
}

.img-center {
  margin-left: 30%;
}

.embedded-video{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.bottom-toc {
  font-size: 8;
  color: rgb(151, 166, 168);
}